body{
    background: black;
    font-family: Comic Sans MS !important;
    background-image: url("../media/glitchpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: yellow;
    cursor: url('../media/totoro.cur'), auto;
    margin: 0;
    //font-size: 1.5vw;
}

a{
    color: yellow;
}

.page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000aa;
}



::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ff000066;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ff000055;
  border-radius: 10px;
}
